* {
    box-sizing: border-box;
}

#queryInput-1,
#queryInput-2,
#queryInput-3,
#queryInput-4,
#queryInput-5 {
    font-family: monospace;
}

.flex {
    display: flex;
}

.card {
    padding: 0;
    margin: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    overflow-y: auto;
    max-height: 70vh;
}

.card form {
    width: 100%;
}

form {
    position: sticky;
    top: 0px;
    background-color: white;
}

.card form input {
    padding: 0.5rem;
}

.card form input,
.btn {
    width: 100%;
}

.card form .btn {
    margin-top: 0;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.m-auto {
    margin: auto;
}

.none {
    display: none;
}

.block {
    display: block;
}

.mt-1 {
    margin-top: 1rem;
}

li a {
    font-size: 1rem !important;
    font-weight: 500;
}

.p-1 {
    padding: 1rem;
}
.pl-1 {
    padding-left: 1rem;
}

.response {
    font-family: monospace;
}

.max-w-60 {
    max-width: 60%;
}

.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}
.list-item {
    font-family: monospace;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
}

.list-item:hover {
    background-color: rgb(232, 240, 254);
}

#queryInput-1,
#queryInput-2,
#queryInput-3,
#queryInput-4,
#queryInput-5 {
    height: 400px;
    overflow-y: auto;
    font-size: 0.8rem;
}

.select-wrapper {
    /* width: 25%; */
}

.select-dropdown {
    height: 300px;
    top: 0px;
}

.keyword {
    font-size: 1rem;
    font-weight: 600;
    color: navy;
}
pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    width: auto;
    margin: 0px;
}

.sql,
code.sql {
    font-family: "Consolas", "Monaco", "Courier New", monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.button-container {
    align-items: center;
    justify-content: center;
    background: #ccc;
    padding: 0.5rem;
}

.button-container .col {
    margin: auto !important;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #1f4ba2 !important;
}

.btn,
.btn-large,
.btn-small {
    background-color: #113d94 !important;
}
.dropdown-content {
    background-color: #fff !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
    font-size: 16px;
    color: #113d94;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.select-wrapper input.select-dropdown {
    border-color: #113d94 !important;
}

.m-0 {
    margin: 0 !important;
}

.progress {
    background-color: #ccc;
}

.result-list {
    max-height: inherit;
    overflow-y: scroll;
}

#response-1,
#response-2,
#response-3,
#response-4,
#response-5 {
    background: #f5f5f5;
    margin: 0;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.time {
    padding: 1rem;

    background-color: #113d94;
    color: white;
}
.tabs .tab a,
a.active {
    color: #113d94 !important;
    outline-color: #113d94 !important;
    text-decoration-color: #113d94 !important;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(181, 189, 229, 0.297);
    outline: none;
    text-decoration-color: #113d94 !important;
}

.indicator {
    background-color: #113d94 !important;
}

.nav-wrapper {
    background-color: #113d94;
    color: #fff;
}

.mh-550 {
    max-height: 550px;
}
pre {
    max-height: 550px;
}

.modal-info,
.modal-close {
    color: #113d94 !important;
}

.flow-text {
    font-size: 1.48rem !important;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input.valid[type="number"]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0 1px 0 0#113d94 !important;
    border-bottom: #113d94 !important;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #113d94 !important;
    border-bottom: #113d94 !important;
}

label,
label.active {
    color: #113d94 !important;
}
